
<form action="/posts/<%= @post.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="post_name">Post Name:</label>
  <input type="text" id = "post_name" name="name" value="<%= @post.name %>"><br>

  <label for="post_content">Post Content:</label>
  <input type="text" id = "post_content" name="content" value="<%= @post.content %>"><br>

  <button type="submit">submit</button>
</form>
