<h1>Blog post <%= @post.id %></h1>
<p>Post Name: <%= @post.name %></p>
<p>Post Content: <%= @post.content %></p>

<form action="/posts/<%= @post.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" name="delete">delete</button>
</form>
